@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Estedad", sans-serif;
}

.bg-homepageinformation {
  width: 100;
  height: 390px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/homepage/59b196e28516c1c3e8bc6842aa238885.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply filter;
}

.bg-backgroundfooter {
  width: 100;
  height: 168px;
  @screen md {
    height: 320px;
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/footer/9346f0ad088135a337fb916e224331cf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-contactus {
  width: 100;
  min-height: 152px;
  @screen md {
    min-height: 320px;
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/contact-us/24ed2e8bb74567abb104f433e0138e38.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-aboutus {
  width: 100;
  min-height: 152px;
  @screen md {
    min-height: 320px;
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/about-us/a184b0a2eda096baec6229c93f4ea140.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-Franchise {
  width: 100;
  min-height: 152px;
  @screen md {
    min-height: 320px;
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/Franchise/1c396fb1fd8e64992f82dd5ce96917b4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-FAQ {
  width: 100;
  min-height: 152px;
  @screen md {
    min-height: 320px;
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/public/FAQ/6956321429c870b11fe0695ce138fd8f.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-Rules {
  width: 100;
  min-height: 152px;
  @screen md {
    min-height: 320px;
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/FAQ/rules.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-Privacy {
  width: 100;
  min-height: 152px;
  @screen md {
    min-height: 320px;
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/FAQ/privacy (2).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* React Multi Date Picker */
.custom-input {
  border-radius: 15px;
  border: 1px #0c8af8 solid;
  padding: 4px 12px;
  background-color: white;
  height: 22px;
  box-shadow: 0 0 2px #0074d9;
}

.custom-input:focus {
  outline: none;
  border: 1px solid #0c8af8;
  box-shadow: 0 0 10px 2px #0074d9;
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #417f56;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #417f56;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background: #417f56;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background: #417f56;
}
